<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <header id="header"></header>

    <div id="main">
        <h1>欢迎登录书籍共享平台</h1><br />
        {% if acc == "1" %}
        <p><span class="username">{{username}}</span>，你好。欢迎<a href="/book/add/">添加书籍</a></p><br />
        {% else %}
        <p>添加书籍，请先<a href="/login">登录</a></p><br />
        {% endif %}

        <p></p>


    </div>


    <footer id="footer"></footer>

    <script>
        {% if acc == "1" %}
        $("#header").load("/static/html/header1.html");
        {% else %}
        $("#header").load("/static/html/header0.html");
        {% endif %}
        $("#footer").load("/static/html/footer.html");
    </script>

</body>
</html>
